$boards: (
  "brown-board": "/boards/brown_board.svg",
);

@each $name,
$path in $boards {
  .#{$name} {
    position: relative;
    background-repeat: no-repeat;
    background-image: url($path);
    background-size: 100%;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin: 0px;
    top: 0;
    left: 0;
    cursor: pointer;
  }
}

;